*{
    padding: 0;
    box-sizing: border-box;
}

.ventas, .alquileres{
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
}

.card img {
    max-width: 100%;
}

.u , .hb{
    display: flex;
    align-items: center;
}
.u img , .hb img ,.condiciones img{
    width: 30px;
}

.condiciones{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
